<h3>Comments:</h3>
<% @movie.comments.each do |comment| %>
   <p>
      <strong>Commenter:</strong>
      <%= comment.commenter %>
   </p>
   <p>
      <strong>Comment:</strong>
      <%= comment.content %>
   </p>
   <%= link_to 'Edit', edit_movie_comment_path(movie_id: comment.movie.id, id: comment.id) %>
   <%= link_to 'Delete', movie_comment_path(movie_id: comment.movie.id, id: comment.id), method: :delete %>

<% end %>
